In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']
    
sec_data.tail()

                    PG     BEI.DE
Date
2021-04-23  133.940002  91.300003
2021-04-26  131.259995  90.860001
2021-04-27  131.179993  91.760002
2021-04-28  131.399994  93.440002
2021-04-29  132.509995  93.680000

In [3]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2021-04-23 -0.005138 -0.009592
2021-04-26 -0.020212 -0.004831
2021-04-27 -0.000610  0.009857
2021-04-28  0.001676  0.018143
2021-04-29  0.008412  0.002565

[3606 rows x 2 columns]

In [10]:
var = sec_returns.var() * 250 # variancia
var

PG        0.035094
BEI.DE    0.047872
dtype: float64

In [9]:
covar = sec_returns.cov() * 250 # covariancia
covar

              PG    BEI.DE
PG      0.035094  0.011094
BEI.DE  0.011094  0.047872

In [12]:
corr = sec_returns.corr() # correlacao
corr

              PG    BEI.DE
PG      1.000000  0.270289
BEI.DE  0.270289  1.000000